/*
!.gitignore
!.zshrc
!*.lua

# claude code
!.claude
.claude/**

!.claude/CLAUDE.md
!.claude/hooks
!.claude/hooks/**
!.claude/settings
!.claude/settings/**
!.claude/commands
!.claude/commands/**

# codex
!.codex
.codex/**

!.codex/AGENTS.md
!.codex/settings
!.codex/settings/**

# temp files
.specstory
